html
  head
    title My Site - #{title}
    script(src='js/manifest.js')
    script(src='js/vendor.js')
    script(src='js/app.js')
  body
    p.
      Using regular tags can help keep your lines short,
      but interpolated tags may be easier to #[em visualize]
      whether the tags and text are whitespace-separated.
  #footer
    p some footer content yes la ha